<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cs.ualberta.localpost.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <permission
        android:name="ca.cs.ualberta.localpost.view.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
 
    <uses-permission android:name="ca.cs.ualberta.localpost.view.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<!-- External storage for caching. -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- My Location -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<!-- Maps API needs OpenGL ES 2.0. -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- In order for the key to keep working, you cannot change the location of the MapsView from the View
        	package. If you do, then you must update the key as well to the new location -->
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyAYQCb7Lf2AmWDPqBlEA1AnsEBGiTaXyyY"/>
        <meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />

        <activity
            android:name="ca.cs.ualberta.localpost.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.FreshestTabView"
            android:label="@string/FreshestTab" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.GreatestTabView"
            android:label="@string/LastestTab" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.LastestTabView"
            android:label="@string/GreatestTab" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.MapsView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.CommentListAdapter"
            android:label="@string/title_activity_comment_list_adapter" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.SubmitComment"
            android:label="@string/title_activity_submit_comment" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.ThreadView"
            android:label="@string/title_activity_thread_view" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.FavoritesView"
            android:label="@string/title_activity_favorites_view" >
        </activity>
        <activity
            android:name="ca.cs.ualberta.localpost.view.EditComment"
            android:label="@string/title_activity_edit_comment" >
         </activity>
    </application>

</manifest>